

{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

    <section class=" min-h-full h-fit flex flex-col justify-center gap-5 m-auto max-w-2xl">

        <figure>
            <img src={{ asset('uploads/' ~ article.image) }} alt="Cover">
        </figure>
        
        <h1 class="text-5xl font-bold flex items-center gap-8">{{ article.title }}
            <div class="badge  text-white 
                {% if article.category.name == "Single" %}
                 bg-orange-500
                 {% elseif article.category.name == "Maxi" %}
                  bg-green-500
                  {% elseif article.category.name == "Album" %}
                   bg-blue-500
                   {% elseif article.category.name == "Compilation" %}
                    bg-violet-500
                {% endif %}
            ">{{ article.category.name }}</div>
        </h1>
        
        <p>{{ article.intro }}</p>
        <p>{{ article.content }}</p>
        
        <div class="card-actions justify-end">
            {% for tag in article.tag %}
              <div class="badge badge-outline">{{ tag.name }}</div>
            {% endfor %}
        </div>
        <div class=" flex flex-row justify-between">
            <a href="{{ path("app_home") }}" class="btn btn-primary">Go back</a>
            <div>
                {% if is_granted("ROLE_ADMIN") %}
                    <a href={{ path("app_article_display_edit", {'id': article.id}) }} class="btn btn-outline btn-warning">Edit</a>
                    <button class="btn btn-outline btn-error" onclick="my_modal_2.showModal()">Delete</button>
                    <dialog id="my_modal_2" class="modal">
                    <div class="modal-box">
                        <h3 class="text-lg font-bold">Delete article ?</h3>
                        <a href={{ path("app_article_delete", {'id': article.id}) }} class="btn btn-outline btn-error">Confirm</a>
                        <p class="py-4">Press ESC key or click outside to close</p>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                    </dialog>
                {% endif %}
            </div>
        </div>

    </section>

{% endblock %}
