{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}

<section class=" max-w-lg m-auto">


        {% if is_granted('ROLE_ADMIN') %}

            <h1 class="text-5xl font-bold w-full">{{ name }}</h1>

            <div>
                {{ form_start(form)}}
                {{ form_widget(form) }}
                <div class=" flex flex-row justify-end gap-2">
                    <a href="{{ path('app_home') }}" class="btn btn-outline btn-error">Cancel</a>
                    <button type="submit" class="btn btn-success">Publish</button>
                </div>
                {{ form_end(form) }}
            </div>
            
            {% else %}
            <div class=" w-full h-full flex justify-center items-center">
                <div role="alert" class="alert alert-error w-fit">
                    <img src="{{ asset('img/warning.svg')}}" alt="Warning icon" class=" w-6">
                    <span>Your access to this page is not authorized</span>
                </div>
            </div>
        {% endif %}

    </section>

    <script>
        const articleTag = document.querySelector("#article_tag");
        // console.log(articleTag);

        const inputsArticleTag = articleTag.querySelectorAll("input");
        // console.log(inputsArticleTag);

        const labelsArticleTag = articleTag.querySelectorAll("label");
        // console.log(labelsArticleTag);

        for (let i = 0; i < inputsArticleTag.length; i++) {
            const pairInputLabel = document.createElement("div");
            pairInputLabel.classList.add("pair-input-label")
            pairInputLabel.appendChild(inputsArticleTag[i]);
            pairInputLabel.appendChild(labelsArticleTag[i]);
            articleTag.appendChild(pairInputLabel);
        }
    </script>
    <style>
        #article {
            margin-bottom: 2rem;
        }
        #article_tag {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: 2rem;
            row-gap: 0.5rem;
        }
        .pair-input-label {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
    </style>

{% endblock %}

